.notification {
    margin: 8px;
    padding: 1rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 2rem auto 2rem;
}

.notification h3 {
    margin: 0;
}

.notification-warning {
    background-color: rgba(255, 164, 44, 0.8);
}

.notification-error {
    background-color: rgba(226, 0, 0, 0.8);
}

.notification-info {
    background-color: rgba(68, 165, 108, 0.8);
}

.notification-progress {
    background-color: rgba(133, 73, 145, 0.8);
}

.notification-icon-container {
    align-self: center;
}

.notification-icon-container-close:hover {
    cursor: pointer;
}

.notification .expander:hover {
    cursor: pointer;
}

.notification .desc {
    display: block;
    padding-left: 5px;
    border-left: 5px solid rgba(0, 0, 0, 0.3);
    word-wrap:anywhere;
}

@keyframes fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.nt-fading {
    animation: fade 3s linear;
}

@keyframes ripple {
    0% {
        transform: scale(1);
        border: 2px solid rgb(255,255,255,1);
    }
    100% {
        transform: scale(3);
        border: 2px solid rgb(255,255,255,0);
    }
}

.ripple-loading-container {
    display: flex;
}

.ripple-loading {
    color: white;
    border-radius: 100%;
    width: 33%;
    animation: ripple 1s cubic-bezier(.68,-0.55,.27,1.55) infinite;
}

.ripple-loading::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}