# =====================
# Node / React
# =====================
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# Docker / volumes
# =====================
**/lab-data
**/postgres_data
**/doves_data

# =====================
# Env / secrets
# =====================
.env
.env.*
!.env.example
id_rsa
id_rsa.pub
*.key
*.pem

# =====================
# Logs / temp
# =====================
*.log
*.swp
.DS_Store

# =======================
# Runtime / Docker data
# =======================
doves/data/
