.compose-base {
    grid-column: 1/3;
}

.machine-def {
    margin: 5px;
    border-radius: 8px;
    background-color: rgba(85, 85, 110, 0.8);
    padding: 0.5rem;
}

.machine-def .header {
    display: flex;
}

.machine-def h3,h4 {
    margin: 0;
}

.machine-def .expander:hover {
    cursor: pointer;
}

.machine-def .body.collapsed {
    display: none;
    height: 0;
}

.machine-def .hc {
    display: flex;
    align-items: center;
}

.machine-def .h-button {
    padding: 0.5rem;
    border-radius: 50%;
}

.machine-def .h-button:hover:not(:disabled) {
    background-color:rgba(56, 56, 110, 0.8);
    cursor: pointer;
}

.machine-def .port-redir {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    padding: 2px;
}

.machine-def .port-redir input {
    margin-left: 2px;
    margin-right: 2px;
}

.machine-def .prefix {
    font-style: italic;
    color: rgb(151, 151, 151);
}

.machine-def.excluded {
    background-color: rgb(100, 100, 100);
}

.mach-assoc-wide {
    grid-column: 1/4;
}

.mach-add-kvm {
    grid-column: 2/3;
    display: flex;
    column-gap: 0.5rem;
    align-items: flex-end;
}